$white:white;
$primary: blue;
$secondary: gray;
$jumbo: #ffd9b3;
$danger: red;
$dashwidth: 1000px;
$dashheight: 320px;
$userwidth: 250px;
$userheight: 300px;
$padding:20px;
$text-align: center;
$margin-top: 30px;
$margin-left: 400px;
$font-weight: bold;
$cardmargintop: 60px;
$cardmarginleft: 400px;
$jumbotronpadding: 20px;
